<div class="top-product">
    <div class="feature">
        <div class="header">
            <h3 class="modtitle">
                <span class="icon-color">
                    <i class="fa fa-product-hunt" aria-hidden="true"></i>
                    Top Countries Supplier
                </span>
                <strong class="line-color"></strong>
            </h3>
        </div>
           <div class="countries">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12 map">
        <img src="../../../../assets/imgs/Screenshot_8.png" alt="">
      </div>
      <div class="col-lg-6 col-sm-12 ">
        <div class="row">
          <div class="col">
            <div class="country">
              <img src="https://www.toggar.com/uploads/original_images/1452765764_755710.png" alt="">Egypt
            </div>
            <div class="country">
              <img src="../../../../assets/imgs/countries/1452777672_301430.png" alt="">Italy
            </div>
            <div class="country">
              <img src="../../../../assets/imgs/countries/1452767128_129616.png" alt="">United Stetes
            </div>
            <div class="country">
                <img src="https://www.toggar.com/uploads/original_images/1452777808_457687.png" alt="">India
              </div>
          </div>
          <div class="col">
            <div class="country">
              <img src="../../../../assets/imgs/countries/1452778789_777510.png" alt="">France
            </div>
            <div class="country">
              <img src="../../../../assets/imgs/countries/1452767876_987812.png" alt="">Turky
            </div>
            <div class="country">
              <img src="../../../../assets/imgs/countries/1452767571_738229.png" alt="">United Kingdom
            </div>
            <div class="country">
                <img src="https://www.toggar.com/uploads/original_images/1452768143_726826.png" alt="">Switzerland  
              </div>
          </div>
          <div class="col">
            <div class="country">
              <img src="../../../../assets/imgs/countries/1452768953_381120.png" alt="">Spain
            </div>
            <div class="country">
              <img src="../../../../assets/imgs/countries/1452769836_127173.png" alt="">Russia
            </div>
            <div class="country">
              <img src="../../../../assets/imgs/countries/1452778415_114330.png" alt="">Germany
            </div>
            <div class="country">
                <img src="https://www.toggar.com/uploads/original_images/1452768094_741378.png" alt="">Taiwan
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



    </div>
</div>



