<div class="buying-details">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Buying Requests</li>
    </ol>
  </nav>

  <div class="requests buyingg">
    <i class="fa fa-exchange aa" aria-hidden="true"></i>
    <h2 class="text-uppercase h2">Buying Requests</h2>
    <div class="addingRequest mt-3">
    <a href="#">
     <i class="fa fa-plus" aria-hidden="true"></i>
     Adding Buying Requests
    </a>
    <div class="row mt-3">
      <div class="col-4">
       <div class="card text-left">
         <img class="card-img-top" src="holder.js/100px180/" alt="">
         <div class="card-body">
           <h4 class="card-title">Aluminium</h4>
             <div class="bodyy">
               <p>Estimated Quantities : <span>10</span></p>
             <p>Estimated Time: <span>Now</span></p>
             </div>
             <hr>
             <p class="pOnther">Am looking to buy aluminium particles</p>
         </div>
         <div class="card-footer text-muted">
           <h4>
             <img src="../../../assets/imgs/countries/1452767128_129616.png" alt=""> <span>United States</span> 
             <button class="btn btn-primary"><i class="fa fa-envelope" aria-hidden="true"></i> Contact Buyer</button>
           </h4>
         </div>
       </div>
       <div class="card text-left mt-4">
           <img class="card-img-top" src="holder.js/100px180/" alt="">
           <div class="card-body">
             <h4 class="card-title">Wines</h4>
               <div class="bodyy">
                 <p>Estimated Quantities : <span>100000</span></p>
               <p>Estimated Time: <span>Long time </span></p>
               <p><span>partnership</span></p>
               </div>
               <hr>
               <p class="pOnther">We want to buy White wine, Red wine and Sparkling wine products in 750ml bottles. </p>
           </div>
           <div class="card-footer text-muted">
             <h4>
               <span>Un defined</span> 
               <button class="btn btn-primary"><i class="fa fa-envelope" aria-hidden="true"></i> Contact Buyer</button>
             </h4>
           </div>
         </div>
      </div>
      <div class="col-4">
       <div class="card text-left">
         <img class="card-img-top" src="holder.js/100px180/" alt="">
         <div class="card-body">
           <h4 class="card-title">Wines</h4>
             <div class="bodyy">
               <p>Estimated Quantities : <span>100000</span></p>
             <p>Estimated Time: <span>Long time </span></p>
             <p><span>partnership</span></p>
             </div>
             <hr>
             <p class="pOnther">We want to buy White wine, Red wine and Sparkling wine products in 750ml bottles. </p>
         </div>
         <div class="card-footer text-muted">
           <h4>
             <span>Un defined</span> 
             <button class="btn btn-primary"><i class="fa fa-envelope" aria-hidden="true"></i> Contact Buyer</button>
           </h4>
         </div>
       </div>
      </div>
      <div class="col-4">
       <div class="card text-left">
         <img class="card-img-top" src="holder.js/100px180/" alt="">
         <div class="card-body">
           <h4 class="card-title">Flanges</h4>
             <div class="bodyy">
               <p>Estimated Quantities : <span>20000</span></p>
             <p>Estimated Time: <span>1 Month</span></p>
             </div>
             <hr>
             <p class="pOnther">Hello,  I need the following product with the description below: <strong>  Brand Name:MAX</strong></p>
         </div>
         <div class="card-footer text-muted">
           <h4>
             <img src="../../../assets/imgs/countries/1452767876_987812.png" alt=""> <span>United States</span> 
             <button class="btn btn-primary"><i class="fa fa-envelope" aria-hidden="true"></i> Contact Buyer</button>
           </h4>
         </div>
       </div>
       <div class="card text-left mt-4">
         <img class="card-img-top" src="holder.js/100px180/" alt="">
         <div class="card-body">
           <h4 class="card-title">For Sale Mephedrone (4-MMC)</h4>
             <div class="bodyy">
               <p>Estimated Quantities : <span>5000</span></p>
             <p>Estimated Time: <span>4 minimizes</span></p>
             </div>
             <hr>
             <p class="pOnther">ENQUIRY.......... foodplantlimited@aol.com foodplantlimited@aol.com Regards We are <strong>  Brand Name:MAX</strong></p>
         </div>
         <div class="card-footer text-muted">
           <h4>
             <img src="../../../assets/imgs/countries/1452767876_987812.png" alt=""> <span>United States</span> 
             <button class="btn btn-primary"><i class="fa fa-envelope" aria-hidden="true"></i> Contact Buyer</button>
           </h4>
         </div>
       </div>
      </div>
    </div>
    <div class="row mt-3">
     <div class="col-4">
      <div class="card text-left">
        <img class="card-img-top" src="holder.js/100px180/" alt="">
        <div class="card-body">
          <h4 class="card-title">Aluminium</h4>
            <div class="bodyy">
              <p>Estimated Quantities : <span>10</span></p>
            <p>Estimated Time: <span>Now</span></p>
            </div>
            <hr>
            <p class="pOnther">Am looking to buy aluminium particles</p>
        </div>
        <div class="card-footer text-muted">
          <h4>
            <img src="../../../assets/imgs/countries/1452767128_129616.png" alt=""> <span>United States</span> 
            <button class="btn btn-primary"><i class="fa fa-envelope" aria-hidden="true"></i> Contact Buyer</button>
          </h4>
        </div>
      </div>
      <div class="card text-left mt-4">
       <img class="card-img-top" src="holder.js/100px180/" alt="">
       <div class="card-body">
         <h4 class="card-title">For Sale Mephedrone (4-MMC)</h4>
           <div class="bodyy">
             <p>Estimated Quantities : <span>5000</span></p>
           <p>Estimated Time: <span>4 minimizes</span></p>
           </div>
           <hr>
           <p class="pOnther">ENQUIRY.......... foodplantlimited@aol.com foodplantlimited@aol.com Regards We are <strong>  Brand Name:MAX</strong></p>
       </div>
       <div class="card-footer text-muted">
         <h4>
           <img src="../../../assets/imgs/countries/1452767876_987812.png" alt=""> <span>United States</span> 
           <button class="btn btn-primary"><i class="fa fa-envelope" aria-hidden="true"></i> Contact Buyer</button>
         </h4>
       </div>
     </div>
     </div>
     <div class="col-4">
      <div class="card text-left">
        <img class="card-img-top" src="holder.js/100px180/" alt="">
        <div class="card-body">
          <h4 class="card-title">Wines</h4>
            <div class="bodyy">
              <p>Estimated Quantities : <span>100000</span></p>
            <p>Estimated Time: <span>Long time </span></p>
            <p><span>partnership</span></p>
            </div>
            <hr>
            <p class="pOnther">We want to buy White wine, Red wine and Sparkling wine products in 750ml bottles. </p>
        </div>
        <div class="card-footer text-muted">
          <h4>
            <span>Un defined</span> 
            <button class="btn btn-primary"><i class="fa fa-envelope" aria-hidden="true"></i> Contact Buyer</button>
          </h4>
        </div>
      </div>
     </div>
     <div class="col-4">
      <div class="card text-left">
        <img class="card-img-top" src="holder.js/100px180/" alt="">
        <div class="card-body">
          <h4 class="card-title">Flanges</h4>
            <div class="bodyy">
              <p>Estimated Quantities : <span>20000</span></p>
            <p>Estimated Time: <span>1 Month</span></p>
            </div>
            <hr>
            <p class="pOnther">Hello,  I need the following product with the description below: <strong>  Brand Name:MAX</strong></p>
        </div>
        <div class="card-footer text-muted">
          <h4>
            <img src="../../../assets/imgs/countries/1452767876_987812.png" alt=""> <span>United States</span> 
            <button class="btn btn-primary"><i class="fa fa-envelope" aria-hidden="true"></i> Contact Buyer</button>
          </h4>
        </div>
      </div>
      
     </div>
   </div>
    </div>
    <nav aria-label="Page navigation">
   <ul class="pagination justify-content-center">
     <li class="page-item disabled">
       <a class="page-link" href="#" aria-label="Previous">
         <span aria-hidden="true">&laquo;</span>
         <span class="sr-only">Previous</span>
       </a>
     </li>
     <li class="page-item active"><a class="page-link" href="#">1</a></li>
     <li class="page-item"><a class="page-link" href="#">2</a></li>
     <li class="page-item"><a class="page-link" href="#">3</a></li>
     <li class="page-item"><a class="page-link" href="#">4</a></li>
     <li class="page-item">
       <a class="page-link" href="#" aria-label="Next">
         <span aria-hidden="true">&raquo;</span>
         <span class="sr-only">Next</span>
       </a>
     </li>
   </ul>
 </nav>
   </div>
</div>
