<div class="nav">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 info">
        <ul class="list-unstyled">
          <li routerLink="/buying-request"><i class="fa fa-angle-right" aria-hidden="true"></i> Buying Requests</li>
          <li routerLink="/blog"><i class="fa fa-angle-right" aria-hidden="true"></i> Blog</li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i> Services</li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i> Community</li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-12 about">
        <ul class="list-unstyled hori">
          <li routerLink="/about-us">About us</li>
          <li routerLink="/contact-us">Contact Us</li>
          <li>
            <div class="form-group">
              <label for=""></label>
              <select class="form-control" name="" id="">
                <br>
                <option class="form-control"> <img src="../../../assets/imgs/countries/ar.jpg" alt=""> English</option>
                <option class="form-control">Espaniol</option>
                <option class="form-control">Germany</option>
              </select>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <app-navbar-header></app-navbar-header>
  </div>
</div>








