h2{
    margin-top: 40px;
    margin-bottom: 15px;
    color: #a8a9d4;
    position: relative;
}
h2:after{
    position: absolute;
    content: '';
    top: 45px;
    left: 3px;
    width: 63px;
    height: 2px;
    background-color: #ccc;
}
nav{
    margin-top: 40px;
}
table{
    margin-top: 30px;
    margin-bottom: 70px;
}