<div class="container">
  <div class="purchasing">
      <div class="container">
        <div class="row mt-4">
          <div class="col-4">
            <div class="advance">
           <div class="dropdown open">
             <button class="btn btn-defalt dropdown-toggle" type="button" data-toggle="dropdown">
                  <i class="fa fa-list" aria-hidden="true"></i><h3 class="text-uppercase">All Categories</h3>
                 </button>
             <div class="dropdown-menu"  aria-labelledby="triggerId">
                <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Agriculture</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Clothing</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="#">  Cars & Motorbikes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="#">  Chemicals</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Cars & Motorbikes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Chemicals</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Chemicals</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Computer Hardware & Software</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Construction & Real Estate</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Consumer Electronics</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Electrical Equipment & Supplies</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Electronic Components & Supplies</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Energy & Energy Production</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Environment</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Fahion Accessoriess</a>
                    </li>
                  </ul>
             </div>
           </div>
          </div>
          </div>
          <div class="col-8">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>


    <div class="about">
        <h1 class="page-header">
          Contact Us
      </h1>
    
    
    
  
      <div class="row">
        <div class="col-8">
          <div class="buyingg">
            <h2 class="h2">Contact Us</h2>
                <div class="contact">
                  <div class="row">
                    <div class="col">
                      <form action="">
                        <div class="form-group">
                          <label for="">To</label>
                          <input type="text" class="form-control" placeholder="to connect be a blanck..">
                        </div>
                        <div class="form-group">
                          <label for="">FirstName</label>
                          <input type="text" class="form-control" placeholder="FirstName">
                        </div>
                        <div class="form-group">
                          <label for="">LastName</label>
                          <input type="text" class="form-control" placeholder="LastName">
                        </div>
                        <div class="form-group">
                          <label for="">Email</label>
                          <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                          <label for="">Subject</label>
                          <input type="text" class="form-control" placeholder="Subject">
                        </div>
                      </form>
                    </div>
                    <div class="col">
                      <form action="">
                        <div class="form-group">
                          <textarea name="" id="" placeholder="Message..."></textarea>
                          
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              Send me Copy of Message
                            </label>
                          </div>
      
                          <button class="btn btn-primary btn-block mt-5">Send</button>
                          
                        </div>
                      </form>
                    </div>
                  </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <img src="../../../assets/imgs/banner/New folder/1495373995_698232.jpg" alt="">
        </div>
      </div>
  
    
  </div>


</div>

