<div class="container">
  <div class="purchasing">
      <div class="container">
        <div class="row mt-4">
          <div class="col-4">
            <div class="advance">
           <div class="dropdown open">
             <button class="btn btn-defalt dropdown-toggle" type="button" data-toggle="dropdown">
                  <i class="fa fa-list" aria-hidden="true"></i><h3 class="text-uppercase">All Categories</h3>
                 </button>
             <div class="dropdown-menu"  aria-labelledby="triggerId">
                <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Agriculture</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Clothing</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="#">  Cars & Motorbikes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="#">  Chemicals</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Cars & Motorbikes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Chemicals</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Chemicals</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Computer Hardware & Software</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Construction & Real Estate</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Consumer Electronics</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Electrical Equipment & Supplies</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Electronic Components & Supplies</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Energy & Energy Production</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Environment</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">  Fahion Accessoriess</a>
                    </li>
                  </ul>
             </div>
           </div>
          </div>
          </div>
          <div class="col-8">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About Us</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>


    <div class="about">
        <h1 class="page-header">
          About Us
      </h1>
    
    
    
  
  <div class="row">
    <div class="col-8">
      <div class="parg">
        <p><span>Ours</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ipsa delectus eius a, cupiditate officia, incidunt impedit adipisci consequatur quaerat in corporis autem dolores harum maiores esse fugiat unde maxime. Cupiditate ducimus asperiores minus eaque unde illo. Facilis, ab molestiae autem, quis ea corporis doloribus inventore id, iste perspiciatis voluptatibus.
        </p>
        <p><span>Ours</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ipsa delectus eius a, cupiditate officia, incidunt impedit adipisci consequatur quaerat in corporis autem dolores harum maiores esse fugiat unde maxime. Cupiditate ducimus asperiores minus eaque unde illo. Facilis, ab molestiae autem, quis ea corporis doloribus inventore id, iste perspiciatis voluptatibus.
        </p>
        <p><span>Ours</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ipsa delectus eius a, cupiditate officia, 
        </p>
        <p><span>Ours</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ipsa delectus eius a, cupiditate officia, incidunt impedit adipisci consequatur quaerat in corporis autem dolores harum maiores esse fugiat unde maxime. 
        <p><span>Ours</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ipsa delectus eius a, cupiditate officia, incidunt impedit adipisci consequatur quaerat in corporis autem dolores harum maiores esse fugiat unde maxime. Cupiditate ducimus asperiores minus eaque unde illo. Facilis
        </p>
        <p><span>Ours</span> Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
      <div class="col-3 offset-1">
        <div class="adv">
            <a href="#"><img src="../../../assets/imgs/banner/New folder/1495373907_845598.jpg" class="mb-3" alt=""></a> 
        </div>
    </div>
  </div>
  
    
  </div>


</div>

