<div class="dark mt-0 mt-100-lg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-none d-lg-block ">
        <img class="image-preload mt-n50 "
          data-src="//www.hostinger.ae/assets/images/hero/cloud-hosting/30-day-money-back-guarantee-bd3db49552.png"
          src="//www.hostinger.ae/assets/images/hero/cloud-hosting/30-day-money-back-guarantee-bd3db49552.png"
          alt="خوادم حول العالم">
      </div>
      <div class="col-12 col-lg-6 text-left">
          <div class="text d-flex justify-content-center align-items-xl-end flex-column text-right text-lg-right">
            <h2 class="">ضمان استعادة الأموال لمدة 30 يومًا</h2>
            <p class="text-content-grey subtitle">إذا لم تكن راضيا بنسبة 100٪ عن Hostinger، فسنرجع لك المبلغ المدفوع. لا تعقيدات، لا خطر.
            </p>
    <div class="d-flex flex-column justify-content-center justify-content-lg-center align-items-center align-items-lg-start">
      <button class="btn btn-primary">Start</button>
    </div>
    <a href="#" >Read More</a>
  </div>
  </div>
    </div>
  </div>
</div>