<div class="footer">
  <div class="container">
      <h2>Ours.com</h2>
    <div class="row">
      <div class="col-lg-3 col-md-6 first-col">
        <p>Ours is the first Euro-Arab B2B website for the Middle East and Europe. It was launched in Germany, 2014, and
          is an online global portal for E-commerce between companies</p>
      </div>
      <div class="col-lg-3 col-md-6 ">
        <h5>Ours Menu</h5>
        <ul class="list-unstyled">
          <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#">Home</a> </li>
          <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#">About Us</a> </li>
          <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#">Buyer</a> </li>
          <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#">Supplier</a> </li>
          <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#">Terms of use</a> </li>
          <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#"> Privacy Policy</a> </li>
          <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#">Registration</a> </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
          <h5>Services</h5>
          <ul class="list-unstyled">
            <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#">Services</a> </li>
            <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#">About Service Center</a> </li>
            <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#">Trade Help</a> </li>
            <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#">Your Trade Leads</a> </li>
            <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#">Ours - Trade Host</a> </li>
            <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#"> Quick Trade Tips</a> </li>
            <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#">FAQs</a> </li>
          </ul>
      </div>
      <div class="col-lg-3 col-md-6">
          <h5>Contact Us</h5>
          <ul class="list-unstyled contact">
            <li> <i class="fa fa-home" aria-hidden="true"></i> <a href="#">Ard el Golf, Nasr City, Cairo, Egypt</a> </li>
            <li> <i class="fa fa-envelope" aria-hidden="true"></i> <a href="#">Email: info@toggar.comCenter</a> </li>
            <li> <i class="fa fa-phone" aria-hidden="true"></i> <a href="#">Phone : 22910044 (2) 20 +</a> </li>
            <li> <i class="fa fa-phone" aria-hidden="true"></i> <a href="#">Phone : 22910044 (2) 20 +</a> </li>
          </ul>
      </div>
    </div>
    <div class="social text-center">
      <ul class="list-unstyled">
        <li><img src="../../../assets/imgs/blog-3d5cd49054.svg" alt=""></li>
        <li><img src="../../../assets/imgs/facebook-fd035ec457.svg" alt=""></li>
        <li><img src="../../../assets/imgs/linked-in-853d699c9d.svg" alt=""></li>
        <li><img src="../../../assets/imgs/twitter-ac4c771131.svg" alt=""></li>
      </ul>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-6 col-md-12">
          Prices are included without VAT
      </div>
      <div class="col-lg-6 col-md-12 text-right">
        &copy; 2004-2019 Ours . All Reserved Right
      </div>
    </div>
  </div>
</div>